extends ../layout

block content
      .row
        h1.col-md-8 Voici toutes les Actualités
        br
        br
        a.btn.btn-default.col-md-2.portfolio-item(type='button', href='/post/add')
          span.glyphicon.glyphicon-plus(aria-hidden='true')
          |  Ajouter
      br
      br
      .row
        each post in posts
          .col-md-4.portfolio-item
            a(href='#')
              img.img-responsive(src =post.img, alt='')
            h3= post.title
            p= post.body
            a.btn.btn-default(type='button', href='/post/delete/' + post.id )
              span.glyphicon.glyphicon-trash(aria-hidden='true')
              |  Supprimer


  script(src='/javascripts/jquery.js')
// Bootstrap Core JavaScript
script(src='/javascripts/bootstrap.min.js')
