extends ../layout

block content
      h1 Bienvenue dans l'espace administrateur
      .row
      each member in members
        .col-sm-4
          .team-member
            img.img-circle.img-responsive(src= member.img, alt='')
            h4= member.name
            p.text-muted= member.legend
            ul.list-inline.social-buttons
              li
                a(href= member.facebook)
                  i.fa.fa-facebook
            a.btn.btn-default(type='button', href='/member/delete/' + member.id )
              span.glyphicon.glyphicon-trash(aria-hidden='true')
              |  Supprimer

  script(src='/javascripts/jquery.js')
// Bootstrap Core JavaScript
script(src='/javascripts/bootstrap.min.js')
