extends ../layout

block content
      .row
        h1.col-md-8 Voici la file chronologique
        br
        br
        a.btn.btn-default.col-md-2.portfolio-item(type='button', href='/timeline/add')
          span.glyphicon.glyphicon-plus(aria-hidden='true')
          |  Ajouter
      br
      br
      .row
        each timeline in timelines
          .col-md-4.portfolio-item
            a(href='#')
              img.img-responsive(src =timeline.img, alt='')
            h3= timeline.title
            h3= timeline.date
            p= timeline.body
            a.btn.btn-default(type='button', href='/timeline/delete/' + timeline.id )
              span.glyphicon.glyphicon-trash(aria-hidden='true')
              |  Supprimer

  script(src='/javascripts/jquery.js')
// Bootstrap Core JavaScript
script(src='/javascripts/bootstrap.min.js')
