extends ../layout

block content
      h1 Bienvenue dans l'espace administrateur
      .row
        each timeline in timelines
          .col-md-4.portfolio-item
            a(href='#')
              img.img-responsive(src =timeline.img, alt='')
            h3= timeline.title
            h3= timeline.date
            p= timeline.body
            a.btn.btn-default(type='button', href='/timeline/delete/' + timeline.id )
              span.glyphicon.glyphicon-trash(aria-hidden='true')
              |  Supprimer

  script(src='/javascripts/jquery.js')
// Bootstrap Core JavaScript
script(src='/javascripts/bootstrap.min.js')
